@{
    ViewData["Title"] = "Recetario";
}

<div class="text-center">
    <h1 class="display-4">Bienvenides</h1>
    <h4>Aquí voy guardando todas aquellas recetas que voy haciendo y que me han gustado. Y sin duda repetiré :)</h4>
    
</div>

