@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">Se ha producido un error al realizar la operación indicada.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    Vuelva a la página principal y reintente la operación. Si el problema persiste, contacte con el administrador.
</p>
<a class="navbar-brand" asp-controller="Home" asp-action="Index">Volver al inicio.</a>
